

<!DOCTYPE html>
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Welcome to the presentation application</title>
    <meta name="author" content="VenkataPraneeth Tatiraju">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="jquery.touchSwipe.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="content.js"></script>
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="presentation.css">
</head>

<body>
    <div class="slides">
              <section id="00" class="titleslide">
                  <h1>New presentation application using ShareJS</h1>
                  <h2>Created by VenkataPraneeth Tatiraju</h2>
              </section>
              <section id="01">
                  <h1> Testing Slide 1</h1>
                  <h2>Welcome to the nested slides view</h2>
              </section>
              <section id="02">
                  <h1>Profile Summary</h1>
                  <p>Hi my Name is VenkataPraneeth Tatiraju. I am an International Student currently pursuing my studies at Aalto University. I am currently in my second year of my studies. My Major studies is in Communications Engineering(Networking Technology). I Stay in Otaniemi Jamerantaival.</p>
              </section>
              <section id="03">
                  <h1>Hobbies</h1>
                  <p>My hobbies are playing cricket, Badminton and watching movies.</p>
              </section>
              <section id="04">
                  <h1>Language Skills</h1>
                  <p> I know English, Hindi, Tamil and Telugu. </p>
              </section>
              <section id="05">
                  <h1>Learning modules</h1><img src="html5.jpg">
                  <p>I have started to build a presentation application using ShareJS framework. It works on OT Transformation algorithm and was developed by Ex Goolge Wave Engineer.</p>
              </section>
              <section id="06">
                  <iframe id="myYTPlayer" type="text/html" width="100%" height="100%" src="https://www.youtube.com/embed/7V-fIGMDsmE?enablejsapi=1" frameborder="0" style="border:0" align="center" scrolling="Auto"></iframe>
              </section>
              <section id="07">
                  <h2>Pretty Code</h2>
                  <pre><code>
  function linkify( selector ) {
    if( supports3DTransforms ) {
      var nodes = document.querySelectorAll( selector );
      for( var i = 0, len = nodes.length; i &lt; len; i++ ) {
        var node = nodes[i];
        if( !node.className ) {
          node.className += ' roll';
        }
      }
    }
  }
  		</code></pre>

              </section>
              <section id="08">
                  <h1>Fragments</h1>
                  <p>This slide has fragments which are also stepped through in the notes window.</p>
              </section>
              <section id="09">
                  <h1>Fragment Styles</h1>
                  <p>There's different types of fragments.</p>
              </section>
              <section id="10">
                  <h2>Tables</h2>
                  <table>
                      <thead>
                          <tr>
                              <th>Item</th>
                              <th>Value</th>
                              <th>Quantity</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Apples</td>
                              <td>$1</td>
                              <td>7</td>
                          </tr>
                          <tr></tr>
                          <tr>
                              <td>Lemonade</td>
                              <td>$2</td>
                              <td>18</td>
                          </tr>
                          <tr></tr>
                          <tr>
                              <td>Bread</td>
                              <td>$3</td>
                              <td>2</td>
                          </tr>
                          <tr></tr>
                      </tbody>
                  </table>
              </section>
              <section id="11" class="endslide">
                  <h1>Thank you</h1>
                  <p>Questions ?</p>
              </section>
          </div>

</body>
</html>
