﻿

body {
    font-size:2.5em;

}

h1{
    font-size:2.25em;
    margin-bottom: -0.25em;

}

h2{
    font-size:1.2em;


}

.slides{
    position:absolute;
    width:100%;
    height:100%;
    color:#fff;
    overflow:hidden;
    background:linear-gradient(bottom, #ff6a00, #808080);
    background:-o-linear-gradient(bottom, #ff6a00, #808080);
    background:-moz-linear-gradient(bottom, #ff6a00, #808080);
    background:-webkit-linear-gradient(bottom, #ff6a00, #808080);
    background:-ms-linear-gradient(bottom, #ff6a00, #808080);
}

section{
    position:absolute;
    width:100%;
    height:100%;
    padding:30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    visibility:hidden;
    transition:all 1s;
    -o-transition:all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -ms-transition:all 1s;
    opacity:0;
    transform:rotate3d(1,1,0,60deg);
    -o-transform:rotate3d(1,1,0,60deg);
    -moz-transform:rotate3d(1,1,0,60deg);
    -webkit-transform:rotate3d(1,1,0,60deg);
}

section.active {
    visibility:visible;
    overflow-y:auto;
    -webkit-overflow-scrolling: touch;
    opacity:1;
    transition:all 1.5s;
    -o-transition:all 1.5s;
    -moz-transition:all 1.5s;
    -webkit-transition:all 1.5s;
    transform:none;
    -o-transform:none;
    -moz-transform:none;
    -webkit-transform:none;
}


section.titleslide, section.endslide{
    background: url(../background.png) left bottom repeat;

}

section p{
    float : left;
    width:50%;
}

section img {
    float: right;
    width: 40%;
    margin-top :1.25em;
}

@media all and (max-width:1000px){
    body{
        font-size:1.5em;
    }
}

@media all and (max-width:799px){
    section p, section{
        width:100%;
    }
    section {
        padding: 0 16px;
    }
    ul {
       padding-left:15px;
    }
}


body:-webkit-full-screen{
    width:100%;
    height:100%;
    background-color:black;
    position:fixed;
    top:0; right:0; bottom:0; left:0;
    margin:0;
    box-sizing:border-box;
    object-fit:contain;
}

@media all and (max-height:1000px){
    section.titleSlide h1, section.titleslide h2, section.endslide h1, section.endslide h2{
        text-shadow: 6px 5px rgba(0,0,0, .5);
    }
}

@media only screen and (max-device-width: 768px){
    section:{visibility:visible;}
}
